body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #b97206, #803402);   

}

header {
    height: 20%;
    width: 20%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.logo img{
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

.categories {
    padding: 20px;
    width: 50%;
    margin: auto;
    
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.category img {
    max-width: 100%;
}


.category {
  white-space: nowrap;
  position: relative;
  
}

.scrolling-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.film {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}

.film-img {
    height: auto;
    cursor: pointer;
    border-radius: 10%;
}

.film-img:hover {
    filter: brightness(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: filter 0.3s ease, box-shadow 0.3s ease;
  }


.film p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px;
}

.best-movie {
    text-align: center;
    padding: 20px;
  }
  
.movie-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%; 
    margin: 0 auto;
    border: 5px solid #dd1212;
    border-radius: 10px;
    padding: 5px;
  }

.column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    align-items: center;
}

.row-container {
    align-items: center;
    padding: 10px;
    width: 50%;
    display: flex;
    font-weight: bolder;

}

.row-container p {
    font-size: 30px;
}

.column-container p{
    font-style: italic;
}

.movie-details {
    flex: 1;
    text-align: left;
    padding-right: 20px;
  }
  
.movie-image {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
  
  .play-button {
    display: block;
    margin-top: 5px;
    background-color: beige;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 5px;
    font-size: 20px;
    align-self: auto;
    flex-basis: 100%;
    text-align: center;
  }
  
.better_film img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #dd1212;
    margin: 10% auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    max-width: 50%;
    position: relative;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .modal-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 0;
}

.modal-content-flex p {
    flex: 1;
    overflow-y: auto;
}

.modal #modal-image {
    display:block;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}
.modal-top {
    flex-direction: column;
    margin: 5px;
}

.modal-header {
    display: flex;
    margin-bottom: 10px;
  }
  
.modal-genre {
    font-style : italic;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    z-index: 1;
  }

  .modal-close:hover {
    color: #ff0000;
  }

.modal p:hover{
    cursor: pointer;
    color: #ffffff;
  }

.category .scroll-left,
.category .scroll-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  display: block;
  top: 50%;
}

.category:hover .scroll-left,
.category:hover .scroll-right {
    cursor: pointer;
}

.category .scroll-left {
    left: -20px;
}

.category .scroll-right {
    right: -20px;
}